@* @page "/teams/edit/{Id:int}"
<h3>@Localizer["Edit"] @Localizer["Team"]</h3> *@
@if (teamDTO is null)
{
    <Loading />
}
else
{
    <MudDialog>
        <DialogContent>
            <TeamForm @ref="teamForm"
                TeamDTO="teamDTO"
                OnValidSubmit="EditAsync" 
                ReturnAction="Return" />
        </DialogContent>
    </MudDialog>
}